.card{
    
    width: 300px;
   
    background-color: rgb(212, 236, 236);
    padding:10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    
    
}


.center{
    color:rgb(218, 241, 9)
}
.box{
    
    margin: 0 -5px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

@media (min-width: 600px) {
    .box { grid-template-columns: repeat(3, 1fr); }
  }
 
.box:after {
    content: "";
    display: table;
    clear: both;
  }

 .card-image {
    color: black;
    border-radius: 50%;
    font-weight: 400;
    width:300px;
    height:300px;
    box-shadow: 5px 5px 5px darkslategrey;
    
  
    
}
.card-title{
    color:rgba(253,187,45,1);
    font-weight: 500;
    font-size: 30px;
}
.card-content{
    color:darkslategray;
    font-size:20px
}
